PORT=5000
MONGODB_URI=mongodb://localhost:27017/zvon
JWT_SECRET=your_jwt_secret
CLIENT_URL=http://localhost:3000

# SteamGridDB API Key (Optional, for game icons)
# Get it from: https://www.steamgriddb.com/profile/preferences/api
STEAMGRIDDB_API_KEY=

# GIPHY API Key (for GIF picker)
# Get it from: https://developers.giphy.com/dashboard/ (Create an App -> API)
GIPHY_API_KEY=
